#contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    gap: 20px;
    padding: 10px;

}
#articulo1{
    grid-column: span 2;
    grid-row: span 2;
}
.img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}
